@default
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
      /* -------------------------------------
        INLINED WITH htmlemail.io/inline
    ------------------------------------- */
      /* -------------------------------------
        RESPONSIVE AND MOBILE FRIENDLY STYLES
    ------------------------------------- */
      @media only screen and (max-width: 620px) {
        table[class=body] h1 {
          font-size: 28px !important;
          margin-bottom: 10px !important;
        }
        table[class=body] a,
        table[class=body] ol,
        table[class=body] p,
        table[class=body] span,
        table[class=body] td,
        table[class=body] ul {
          font-size: 16px !important;
        }
        table[class=body] .article,
        table[class=body] .wrapper {
          padding: 10px !important;
        }
        table[class=body] .content {
          padding: 0 !important;
        }
        table[class=body] .container {
          padding: 0 !important;
          width: 100% !important;
        }
        table[class=body] .main {
          border-left-width: 0 !important;
          border-radius: 0 !important;
          border-right-width: 0 !important;
        }
        table[class=body] .btn table {
          width: 100% !important;
        }
        table[class=body] .btn a {
          width: 100% !important;
        }
        table[class=body] .img-responsive {
          height: auto !important;
          max-width: 100% !important;
          width: auto !important;
        }
      }
      /* -------------------------------------
        PRESERVE THESE STYLES IN THE HEAD
    ------------------------------------- */
      @media all {
        .ExternalClass {
          width: 100%;
        }
        .ExternalClass,
        .ExternalClass div,
        .ExternalClass font,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass td {
          line-height: 100%;
        }
        .apple-link a {
          color: inherit !important;
          font-family: inherit !important;
          font-size: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
          text-decoration: none !important;
        }
        #MessageViewBody a {
          color: inherit;
          text-decoration: none;
          font-size: inherit;
          font-family: inherit;
          font-weight: inherit;
          line-height: inherit;
        }
        .btn-primary table td:hover {
          background-color: #34495e !important;
        }
        .btn-primary a:hover {
          background-color: #34495e !important;
          border-color: #34495e !important;
        }
      }
    </style>
  </head>
  <body class="" style="background-color: #f6f6f6; font-family: sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
    <table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;">
      <tr>
        <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">&nbsp;</td>
        <td class="container" style="font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto; max-width: 580px; padding: 10px; width: 580px;">
          <div class="content" style="box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;">
            <!-- START CENTERED WHITE CONTAINER -->
            <table class="main" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 3px;">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper" style="font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;">
                  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
                    <tr>
                      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">
                        <h2 style="font-family: sans-serif; font-size: 22px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Türkiye'deki Korona Son Durumu</h2>
                        <p style="font-family: sans-serif; font-size: 16px; font-weight: bold; margin: 0; Margin-bottom: 15px;">{{date}}</p>
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 32px;">{{paragraph}}</p>
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: medium; margin: 0; Margin-bottom: 15px; opacity: 0.7;">Toplam Vaka:
                          <b>{{total_cases}}</b>
                        </p>
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: medium; margin: 0; Margin-bottom: 15px; opacity: 0.7;">Yeni Vaka:
                          <b>{{new_cases}}</b>
                        </p>
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: medium; margin: 0; Margin-bottom: 15px; opacity: 0.7;">Toplam İyileşen Sayısı:
                          <b>{{total_recovered}}</b>
                        </p>
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: medium; margin: 0; Margin-bottom: 15px; opacity: 0.7;">Bugünkü İyileşen Sayısı:
                          <b>{{new_recovered}}</b>
                        </p>
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: medium; margin: 0; Margin-bottom: 15px; opacity: 0.7;">Toplam Ölüm:
                          <b>{{total_deaths}}</b>
                        </p>
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: medium; margin: 0; Margin-bottom: 15px; opacity: 0.7;">Bugünkü Ölüm Sayısı:
                          <b>{{new_deaths}}</b>
                        </p>
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: medium; margin: 0; Margin-bottom: 15px; opacity: 0.7;">Toplam Test:
                          <b>{{total_tests}}</b>
                        </p>
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: medium; margin: 0; Margin-bottom: 15px; opacity: 0.7;">Bugünkü Test Sayısı:
                          <b>{{new_tests}}</b>
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- START FOOTER -->
            <div class="footer" style="clear: both; Margin-top: 10px; text-align: center; width: 100%;">
              <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
                <tr>
                  <td class="content-block" style="font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;">
                    <br>
                    Bu emailleri artık almak istemiyor musunuz?
                    <a href="https://kosodu.com/api/unsubscribe?email={{email}}" style="text-decoration: underline; color: #999999; font-size: 12px; text-align: center;">Abonelikten çıkın</a>.
                  </td>
                </tr>
              </table>
            </div>
            <!-- END FOOTER -->
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
        <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
default@