.button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: #447ddc;
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
  border: 0;
}

.switch .switch__item {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  text-decoration: none;
  background: transparent;
  margin-right: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.switch__item > * {
  margin: 0;
  margin-left: 8px;
}

.switch .switch__item.active {
  color: #ffffff;
  border: none;
  background: #447ddc;
}

.switch {
  display: flex;
  align-items: center;
  padding: 12px 0;
  flex-wrap: wrap;
}
