.card--small {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.card--small__content > h1.display {
  margin-bottom: 0 !important;
}

.card--small__content {
  padding-left: 16px;
}

.card--small__image {
  height: 48px;
  width: 48px;
  margin-bottom: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
