.input:not(.checkbox) {
  background: #F6F6F6;
  border-radius: 5px;
  height: 52px;
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 200px;
  display: block;
  padding: 0 1rem;
}

.checkbox {
  margin: 0;
  margin-bottom: 8px;
  margin-right: 6px;
}

.group {
  padding: 16px;
}