.icons {
  display: inline-flex;
  align-items: center;
}

.icons>.icon {
  margin-right: 32px;
}

.icon {
  cursor: pointer;
  font-size: 24px;
}

.icon--square {
  height: 64px;
  width: 64px;
  background: url(Image), #F6F6F6;
  border-radius: 5px;
  margin-bottom: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon--square img {
  width: 32px;
  height: 32px;
}