.menu__item {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-right: 12px;
}

footer {
  padding: 2rem 1rem;
}

.logo {
  width: 154px;
  height: 60px;
}