body {
  margin: 0;
  overflow-x: hidden;
}

#display {
  color: rgba(14, 24, 40, 0.6);
}

.feather--fill {
  color: #0E1828 !important;
  stroke: none !important;
  fill: #0E1828 !important;
  opacity: 0.5 !important;
}

.dinamic {
  color: #0E1828 !important;
  font-weight: bold;
}

.canvas {
  width: 100%;
  overflow: hidden;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgba(196, 196, 196, 0.5)
}

canvas {
  width: 100%;
}

nav {}

.responsive {
  width: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  max-height: 600px;
}

.responsive::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.responsive::-webkit-scrollbar-thumb {
  height: 8px;
  width: 8px;
  background: rgba(0, 0, 0, 0.1);
}

*[center] {
  text-align: center;
}

*[left] {
  text-align: left;
}

*[flex] {
  display: flex;
}

*[align="center"] {
  align-items: center;
}

*[justify="center"] {
  justify-content: center;
}

*[align="end"] {
  align-items: flex-end;
}

*[justify="end"] {
  justify-content: flex-end;
}

*[margin="small"] {
  margin-bottom: 16px;
}

*[margin="large"] {
  margin-bottom: 64px;
}

*[margin="medium"] {
  margin-bottom: 32px;
}

hr {
  border: none;
  border-top: 1px solid rgba(196, 196, 196, 0.5);
}

header {
  padding: 24px 16px;
  box-sizing: border-box;
}

section {
  padding: 60px 16px;
  box-sizing: border-box;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  background: #F6F6F6
}

.footer {
  background: #F6F6F6
}