.modal {
  width: 75vw;
  max-width: 650px;
  max-height: 300px;
}
.modal .modal-header {
  margin: 0 -5px 20px 0;
  display: flex;
  justify-content: flex-end;
}
.modal-close {
  text-decoration: none;
  color: #444343;
  font-size: 20px;
}
