.column,
.column--red,
.column--green,
.column--yellow {
  padding: 0 16px;
  height: 48px;
  white-space: nowrap;
  background: #ffffff;
  border-top: 0.77px solid #d0d0d0;
  border-bottom: 0.77px solid #d0d0d0;
  box-sizing: border-box;
  font-weight: 600;
  max-width: 100px !important;
  overflow: hidden !important;
}

.column--red {
  color: #9f8644;
}

.column--green {
  color: #2b9348;
}

.column--yellow {
  color: #92274d;
}

table {
  border-collapse: separate;
  border-spacing: 0 8px;
  width: 100%;
}

tr.--selected > * {
  border-width: 3px !important;
  border-color: #447ddc !important;
}

.responsive {
  position: relative;
}

.responsive > table > thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
}

td:first-child {
  min-width: 150px;
  white-space: nowrap;
  position: sticky !important;
  left: 0 !important;
}

th label {
  font-size: 11px;
  white-space: nowrap;
}

th {
  position: sticky;
  background: white;
  top: 0;
  z-index: 5;
}

.line {
  width: 100%;
}

.column:first-child {
  border-left: 0.77px solid #d0d0d0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 12px;
}

.column:last-child,
.column--yellow {
  border-right: 0.77px solid #d0d0d0 !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
