@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  color: #0e1828;
}

* {
  text-decoration: none;
}

h1 {
  margin: 0;
  margin-bottom: 32px;
}

label,
.label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2px;
  color: #8d8d8d;
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

h2 {
  margin: 0;
}

h1:not(.display) {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.325px;
}

h2:not(.title),
h2:not(.subtitle) {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.33px;
}

.display {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.33px;
}
.display--small {
  font-size: 24px;
  line-height: 28px;
}

@media only screen and (max-width: 600px) {
  .display {
    font-size: 24px !important;
  }
}

.title,
h2.title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin-bottom: 8px;
}

.link {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2px;
  color: #447ddc;
}

.link.link--label {
  color: #0e1828;
  font-size: 14px;
  font-weight: normal;
  display: flex;
  margin-bottom: 5px;
}

.subtitle,
h2.subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #0e1828;
  opacity: 0.6;
}

p:not(.large),
body {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.large {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 25px;
}

.subFooter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.subFooter a {
  margin: 0 10px;
}

/* type */

.font-20 {
  font-size: 20px;
}
.bold {
  font-size: bold;
}

@media screen and (max-width: 600px) {
  .subFooter {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .mSubFooter {
    display: none;
  }
}
